*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work

.vscode/

.idea/

logs
*.log

node_modules

build.yml
.DS_Store
.pre_commit_hooks
.coverage
.codecc
.idea
.vscode
dist
dist-ssr
coverage
*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.envrc
src/frontend/.bk.local.env
bin
vendr/*

pre-*-bkcodeai
v3logs

bkcodeai.json
