*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work

.vscode/

.idea/

docs/swagger.json
docs/swagger.yaml

logs
*.log

node_modules

.DS_Store
dist
dist-ssr
coverage
*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.envrc
bin
vendor

v3logs

apiserver

.coverage.cov
